/*********************************************
 * GLOBAL
 *********************************************/
.reveal {
  font-family:'Lucida Grande', Helvetica, Arial;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #333333; 
  
  background: #f7f3de; }

/*********************************************
 * HEADERS
 *********************************************/  
.reveal h1 {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.15); 
}
  
.reveal h2 {
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 4px 0 #aaaaaa, 0 4px 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1); 
}
  


/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #8b743d;
  text-decoration: none;
}

.reveal a:not(.image):hover {
  color: #8b743d;
}


/*********************************************
 * CODE
 *********************************************/
.reveal pre {
    background: #f7f3de;
}

/*********************************************
 * CITATIONS
 *********************************************/
.reveal .epigraph {
    background: #f7f2d3;
}

/*********************************************
 * ADMONITIONS
 *********************************************/
.reveal .note,
.reveal .caution,
.reveal .warning,
.reveal .seealso {
    width: 90%;
}
.reveal .note {
    background: #EFEDFC;
}
.reveal .caution,
.reveal .warning {
    background: #FFEAEA;
}
.reveal .seealso {
    background: #dfd;
}
.reveal .admonition-title {
    font-weight: bold;
}

