/*********************************************
 * GLOBAL
 *********************************************/
.reveal {
  font-family:'Lucida Grande', Helvetica, Arial;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #eeeeee; 
  
  background: #111111; }

/*********************************************
 * HEADERS
 *********************************************/  
.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); 
  color: #e7ad52;
}
  
.reveal h2 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  color: #e7ad52;
}
  


/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #e7ad52;
  text-decoration: none;
}

.reveal a:not(.image):hover {
  color: #e7ad52;
}


/*********************************************
 * CODE
 *********************************************/
.reveal pre {
    background: #555;
}

/*********************************************
 * CITATIONS
 *********************************************/
.reveal .epigraph {
    background: #555;
}

/*********************************************
 * ADMONITIONS
 *********************************************/
.reveal .note,
.reveal .caution,
.reveal .warning,
.reveal .seealso {
    width: 90%;
}
.reveal .note {
    background: #005;
}
.reveal .caution,
.reveal .warning {
    background: #500;
}
.reveal .seealso {
    background: #050;
}
.reveal .admonition-title {
    font-weight: bold;
}

/*********************************************
 * FOOTER
 *********************************************/
footer {
   color: #aaa;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #e7ad52; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #e7ad52; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #e7ad52; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #e7ad52; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #f3d7ac; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #f3d7ac; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #f3d7ac; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #f3d7ac; }
