/*********************************************
 * GLOBAL
 *********************************************/
.reveal {
  font-family: Lucida, Arial, Helvetica;
  font-size: 26px;
  font-weight: normal;
  color: #333333;   
  background: #f7f3de; 
}

/*********************************************
 * HEADERS
 *********************************************/  
.reveal h1 {
  color: #6C6133;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #b9b9b9, 0 4px 0 #aaaaaa, 0 3px 1px rgba(0, 0, 0, 0.1); 
}
  
.reveal h2 {

  color: #6C6133;   
  text-shadow: none; 
}
  


/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #8b743d;
  text-decoration: none;
}

.reveal a:not(.image):hover {
  color: #8b743d;
}


/*********************************************
 * CODE
 *********************************************/
.reveal pre {
    background: #f7f3de;
}


/*********************************************
 * TOPIC
 *********************************************/
.reveal .topic {
    background: #f7f2d3;
    border: 3px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.reveal .topic-title {
    color: #6C6133;
}

/*********************************************
 * CITATIONS
 *********************************************/
.reveal .epigraph {
    background: #f7f2d3;
    border: 3px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * SIDEBAR
 *********************************************/
.reveal .sidebar {
    background: #f7f2d3;
    border: 3px solid #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.reveal .sidebar-title {
    color: #6C6133;
}

/*********************************************
 * ADMONITIONS
 *********************************************/
.reveal .note,
.reveal .caution,
.reveal .warning,
.reveal .seealso {
    width: 90%;
    border: 3px solid #333;
}
.reveal .note {
    background: #EFEDFC;
}
.reveal .caution,
.reveal .warning {
    background: #FFEAEA;
}
.reveal .seealso {
    background: #dfd;
}
.reveal .admonition-title {
    font-weight: bold;
    color: #333;
}

