/*********************************************
 * SLIDES
 *********************************************/  
.reveal .slides>section,
.reveal .slides>section>section {
	padding: 0px 0px;
}

/*********************************************
 * IMAGES
 *********************************************/  

.align-center {  
    text-align: center; 
}
.align-left {  
    text-align: left; 
}
.align-right {  
    text-align: right; 
}

.reveal img.align-right {  
    display: inline;
    float: right;
    border: none;
    box-shadow: none;
}

.reveal img.align-left {  
    display: inline;
    float: left;
    border: none;
    box-shadow: none;
}

.reveal img.align-center { 
    margin: 0 auto;  
    margin-bottom: 10px;
    display: inline;
    float: center;
    border: none;
    box-shadow: none;
}
  
/*********************************************
 * VIDEOS
 *********************************************/  

.reveal video {  
    display: inline;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}


/*********************************************
 * CODE
 *********************************************/
.reveal pre {
    box: none;
    box-shadow: none;
}

/*********************************************
 * LISTS
 *********************************************/
.reveal ul {
    margin-bottom: 10px;
}
.reveal ol {
    margin-bottom: 10px;
}
.reveal li {
    margin-bottom: 5px;
}


/*********************************************
 * SLIDE NUMBER
 *********************************************/
#slide-number {
    margin: 10px auto;
    display: inline;
    float:right;
}
