/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #333333;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none; 
  position: top;  
}
  
/*********************************************
 * IMAGES
 *********************************************/  
.reveal img.align-right {  
    display: inline;
    float: right;
    border: none;
    box-shadow: none;
}

.reveal img.align-left {  
    display: inline;
    float: left;
    border: none;
    box-shadow: none;
}

.reveal img.align-center {  
    border: none;
    box-shadow: none;
}

/*********************************************
 * CODE
 *********************************************/
.reveal pre {
    box: none;
    box-shadow: none;
}

