/*********************************************
 * GLOBAL
 *********************************************/
.reveal {
  font-family: Lucida, Arial, Helvetica;
  font-size: 26px;
  font-weight: normal;
  color: #333333; }
  

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
    color: #555;
}
                
.reveal h1 {
    margin: 100px 0 60px 0;
    line-height: 1.2em;
    font-size: 220%;
    font-weight: bold;
}              
.reveal h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
    font-size: 150%;
    font-weight: bold;
    line-height: 1.2em;
}  
          
.reveal h3 {
    line-height: 0.9em;
    font-size: 140%;
}
   
.reveal h1,
.reveal h3,
.reveal .titleslide {
  text-align: center; 
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #555;
  text-decoration: underline; }

.reveal a:not(.image):hover {
  color: #555;
  text-shadow: none;
  border: none; }

/*********************************************
 * IMAGES
 *********************************************/  

.reveal img.align-right { 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 0px;
}

.reveal img.align-left { 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 20px; 
}

.reveal img.align-center { 
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/*********************************************
 * CODE
 *********************************************/
.reveal pre {
    width: 90%;
    background: #eeeeee;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;
    font-family: 'Courier New';
    font-size: 18px;
}
.reveal tt {
    background: transparent;
    font-family: 'Courier New';
    font-size: 26px;
}
.reveal table.highlighttable {
    width: 100%;
}
.reveal td.linenos {
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}
.reveal div.linenodiv pre{
    background: transparent;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: right;
}
.reveal td.code {
    width: 100%;
    padding-left: 0px;
}

/*********************************************
 * SUBSCRIPTS
 *********************************************/
.reveal sub {
    font-size: 80%;
}
.reveal sup {
    font-size: 80%;
}


/*********************************************
 * MATH
 *********************************************/
.reveal .math {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*********************************************
 * TOPIC
 *********************************************/
.reveal .topic {
    margin: 0 auto;
    display: block;
    float: center;
    width: 90%;
    padding-top: 10px; 
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background: #ddd;
}
.reveal .topic-title {
    font-weight: bold;
    color: #555;
}

/*********************************************
 * SMALL
 *********************************************/
.reveal .small {
    font-size: 70%;
}

/*********************************************
 * SIDEBAR
 *********************************************/
.reveal .sidebar {
    display: block;
    float: right;
    padding-top: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #ddd;
    width: 47%;
}
.reveal .sidebar.right {
    float: right;
    margin-right: 0px;
}
.reveal .sidebar.left {
    float: left;
    margin-left: 0px;
    margin-right: 30px;
}
.reveal .sidebar.center {
    float: center;
}
.reveal .sidebar-title {
    font-weight: bold;
    color: #555;
}
.reveal .sidebar-subtitle {
    text-align: right;
    font-weight: italic;
    font-size: 80%;
    color: #555;
}

/*********************************************
 * CITATIONS
 *********************************************/
.reveal .epigraph {
    margin-top: 10px; 
    padding-top: 10px; 
    background: #ddd;
    border: none;
}
.reveal blockquote {
    border: none;
}

/*********************************************
 * FOOTER
 *********************************************/
footer {
   position: absolute;
   bottom: 0;
   width: 100%;  
   background: transparent;
   text-align: center;
   padding: 5px 5px 5px 5px;
   font-size: 16px;
   font-family: Arial, Helvetica;
   font-weight: normal;
   color: #555;
}

/*********************************************
 * ADMONITIONS
 *********************************************/
.reveal .note,
.reveal .caution,
.reveal .warning,
.reveal .seealso {
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    width: 90%;
}
.reveal .note {
    background: #ddf;
}
.reveal .caution,
.reveal .warning {
    background: #fdd;
}
.reveal .seealso {
    background: #dfd;
}
.reveal .admonition-title {
    font-weight: bold;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #000; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #000; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #000; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #000; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #333; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #333; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #333; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #333; }
  
.reveal .controls div.navigate-left.fragmented {
  opacity: 0.5;
} 
.reveal .controls div.navigate-right.fragmented {
  opacity: 0.5;
} 
.reveal .controls div.navigate-up.fragmented {
  opacity: 0.5;
} 
.reveal .controls div.navigate-down.fragmented {
  opacity: 0.5;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #000;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
